nav{
    height: 85px;
    width: 100%;
    background-color: aqua;
    display: flex;
    padding: 0 10vw;
    align-items: center;
    justify-content: space-between;
}

.nav-first{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.nav-first a{
    text-decoration: none;
}

.nav-second ul{
    display: flex;
    list-style: none;
    gap: 2vw;

}
.nav-second ul h3{
    font-weight: 500;
}

.nav-second a{
    text-decoration: none;
}